.skillImg {
    width: 100%;
    height: 100%;
}

.skillSelectionPanel {
    display: flex;
    flex-direction: row;
}

.availableSkillItem {
    width: 150px;
    height: 30px;
    margin: 5px;
    border: 1px solid white;
}

.selectedSkillItem {
    width: 150px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid white;
}

.selectedSkillRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}
