.tableList {
    display: table;
}

.tableHeader {
    display: table-row;
}

.tableHeader > div {
    display: table-cell;
    padding: 5px;
}

.tableRow {
    display: table-row;
}

.tableRow > div {
    display: table-cell;
    padding: 5px;
}